{% load static %}
<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
        <h2 class="font-medium text-base mr-auto">
            C.2 - Depreciação
        </h2>
    </div>
    <div class="p-5" id="bordered-table">
        <div class="preview">
            <div class="overflow-x-auto">
                <table class="table table-bordered" id="TableC2">
                    <thead>
                        <tr>
                            <th class="whitespace-nowrap">Descrição dos Equipamentos</th>
                            <th class="whitespace-nowrap">Valor Unit.</th>
                            <th class="whitespace-nowrap">Quant.</th>
                            <th class="whitespace-nowrap">SubTotal (R$ Mês)</th>
                            <th class="whitespace-nowrap">Prazo</th>
                            <th class="whitespace-nowrap">Dep. Mês</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input id="C2.1.1" type="text" class="form-control" placeholder="Descrição">
                            <td><input id="C2.2.1" type="text" class="form-control" placeholder="Valor Unit.">
                            </td>
                            <td><input id="C2.3.1" type="text" class="form-control" placeholder="Quant.">
                            </td>
                            <td><input id="C2.4.1" type="text" class="form-control" placeholder="SubTotal">
                            </td>
                            <td><input id="C2.5.1" type="text" class="form-control" placeholder="Prazo">
                            </td>
                            <td><input id="C2.6.1" type="text" class="form-control" placeholder="Dep. Mês">
                            </td>
                        </tr>
                        <tr>
                            <td><input id="C2.1.2" type="text" class="form-control" placeholder="Descrição">
                            <td><input id="C2.2.2" type="text" class="form-control" placeholder="Valor Unit.">
                            </td>
                            <td><input id="C2.3.2" type="text" class="form-control" placeholder="Quant.">
                            </td>
                            <td><input id="C2.4.2" type="text" class="form-control" placeholder="SubTotal">
                            </td>
                            <td><input id="C2.5.2" type="text" class="form-control" placeholder="Prazo">
                            </td>
                            <td><input id="C2.6.2" type="text" class="form-control" placeholder="Dep. Mês">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Percentual %: </td>
                            <td><input id="porc.C2" type="text" class="form-control" placeholder="Percentual">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total Retorno Cap.: </td>
                            <td><input id="rcap.C2" type="text" class="form-control" placeholder="Retorno Cap.">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>SubTotal C.2: </td>
                            <td><input id="sum.C2" type="text" class="form-control" placeholder="R$ SubTotal">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>