{% load static %}
<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
        <h2 class="font-medium text-base mr-auto">
            F - BDI
        </h2>
    </div>
    <div class="p-5" id="bordered-table">
        <div class="preview">
            <div class="overflow-x-auto">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="whitespace-nowrap">BDI</th>
                            <th class="whitespace-nowrap">Porcentagem</th>
                            <th class="whitespace-nowrap">Custo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BDI Sobre E: </td>
                            <td><input id="porc.BDI" type="text" class="form-control" placeholder="%"></td>
                            <td><input id="total.BDI" type="text" class="form-control" placeholder="Total" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>