{% load static %}
<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
        <h2 class="font-medium text-base mr-auto">
            D.2 - Transporte / Hospedagem / Exames Médicos
        </h2>
    </div>
    <div class="p-5" id="bordered-table">
        <div class="preview">
            <div class="overflow-x-auto">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="whitespace-nowrap">Descrição</th>
                            <th class="whitespace-nowrap">Valor Unit.</th>
                            <th class="whitespace-nowrap">Quant.</th>
                            <th class="whitespace-nowrap">SubTotal (R$ Mês)</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Transporte</td>
                            <td><input id="D2.1.1" type="text" class="form-control" placeholder="Valor Unit.">
                            </td>
                            <td><input id="D2.2.1" type="text" class="form-control" placeholder="Quant.">
                            </td>
                            <td><input id="D2.3.1" type="text" class="form-control" placeholder="SubTotal">
                            </td>
                        </tr>
                        <tr>
                            <td>Hospedagem</td>
                            <td><input id="D2.1.2" type="text" class="form-control" placeholder="Valor Unit.">
                            </td>
                            <td><input id="D2.2.2" type="text" class="form-control" placeholder="Quant.">
                            </td>
                            <td><input id="D2.3.2" type="text" class="form-control" placeholder="SubTotal">
                            </td>
                        </tr>
                        <tr>
                            <td>Exames Médicos</td>
                            <td><input id="D2.1.3" type="text" class="form-control" placeholder="Valor Unit.">
                            </td>
                            <td><input id="D2.2.3" type="text" class="form-control" placeholder="Quant.">
                            </td>
                            <td><input id="D2.3.3" type="text" class="form-control" placeholder="SubTotal">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>SubTotal D.2: </td>
                            <td><input id="sum.D2" type="text" class="form-control" placeholder="R$ SubTotal">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total D (D.1 + D.2):</td>
                            <td><input id="total.D2" type="text" class="form-control" placeholder="Total D">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>