{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'template/head.html' %}

</head>
	<body>
		<div class="page-wrapper">

			{% include 'template/topbar.html' %}

			<div class="page-content">	

				{% include 'template/slider.html' %}

				<div class="main-container">
					{% include 'template/contact.html' %}
					{% include 'template/about.html' %}
					{% include 'template/service.html' %}
					{% include 'template/whychstart.html' %}
					{% block content %}
					{% endblock %}

				</div>
				{% include 'template/footer.html' %}
			</div>
		</div>
	</body>


		{% include 'template/extra.html' %}
</html>