{% load static %}
<div class="rs-contact contact-style2">
    <div class="container">
        <div class="requset-contact" style="background-color: #333;">
            <div class="sec-title mb-40 md-mb-30">
                <h2 class="title title2 " style="color: white; border-radius: 40px;">
                    Solicite um serviço
                </h2>
            </div>
            <div class="row">

                <div class="col-lg-4 col-sm-6 mb-30">
                    <span class="wpcf7-form-control-wrap">
                        <input type="text" id="name" name="name" placeholder=" Nome" required="">
                    </span>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <span class="wpcf7-form-control-wrap arrow2">
                        <input type="text" id="phone-number" name="phone-number" placeholder="Numero" required="">
                    </span>
                </div>
                <div class="col-lg-4 col-sm-6 mb-30">
                    <span class="wpcf7-form-control-wrap">
                        <input type="text" id="email" name="email" placeholder="Email" required="">
                    </span>
                </div>
                <div class="col-lg-4 col-sm-6 md-mb-30">
                    <span class="wpcf7-form-control-wrap arrow3">
                        <input type="text" id="your-address" name="your-address" placeholder="Endereço" required="">
                    </span>
                </div>
                <div class="col-lg-4 col-sm-6 sm-mb-30">
                    <span class="wpcf7-form-control-wrap arrow4 Services services_select">
                        <select name="Services select" id="default_hide">
                            <option>Serviço</option>
                            <option>Escavadeiras</option>
                            <option>Modified Roofing</option>
                            <option>Metal Roofing</option>
                            <option>Vegetative Roofing</option>
                            <option>Inspections</option>
                            <option>Siding & Gutters</option>
                        </select>
                    
                    </span>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="services-btn">
                        <p class="submit-btn">
                            <input type="submit" value="Enviar solicitação" class="Enviar solicitação de serviços">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>