{% load static %}

<div class="rs-project project-style2 project-modify1 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-55 md-mb-40">
            <span class="sub-text sub-text3">
                <img src="{% static 'img/icone.png' %}" alt="Images">
                ultimos Projetos
            </span>
            <h2 class="title">
                Veja nossos últimos projetos.
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 md-mb-30">
                <div class="project-item mb-30">
                    <div class="project-img">
                        <img src="{% static 'img/vale-.jpeg' %}" alt="images">
                    </div>
                    <div class="project-content">                                
                        <div class="p-icon"><a href="projects-single.html"><i class="fi fi-rr-arrow-small-right"></i></a></div>
                        <div class="project-inner">
                            <h3 class="title"><a href="projects-single.html">VALE</a></h3>
                            <span class="category"><a href="projects-single.html">Ferrovia</a></span>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-img">
                        <img src="{% static 'img/o-que-fazer-no-rj.avif' %}" alt="images">
                    </div>
                    <div class="project-content">                                
                        <div class="p-icon"><a href="projects-single.html"><i class="fi fi-rr-arrow-small-right"></i></a></div>
                        <div class="project-inner">
                            <h3 class="title"><a href="projects-single.html">RIO DE JANEIRO</a></h3>
                            <span class="category"><a href="projects-single.html">Ferrovia</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="project-item mb-30">
                    <div class="project-img">
                        <img src="{% static 'img/portada-bahia.jpg' %}" alt="images">
                    </div>
                    <div class="project-content">                                
                        <div class="p-icon"><a href="projects-single.html"><i class="fi fi-rr-arrow-small-right"></i></a></div>
                        <div class="project-inner">
                            <h3 class="title"><a href="projects-single.html">BAHIA</a></h3>
                            <span class="category"><a href="projects-single.html">Ferrovia</a></span>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-img">
                        <img src="{% static 'img/minas-gerais-capa-820x430.jpg' %}" alt="images" style="height: 425px;">
                    </div>
                    <div class="project-content">                                
                        <div class="p-icon"><a href="projects-single.html"><i class="fi fi-rr-arrow-small-right"></i></a></div>
                        <div class="project-inner">
                            <h3 class="title"><a href="projects-single.html">MINAS GERAIS</a></h3>
                            <span class="category"><a href="projects-single.html">Ferrovia</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>