{% load static %}
<div class="rs-services services-style4 bg10 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-60 md-mb-40">
            <span class="sub-text sub-text3 white-color">
                <img src="{% static 'img/icone.png' %}" alt="Images">
                O que nós fazemos
            </span>
            <h2 class="title white-color">
                A Tquiper opera com equipamentos próprios e adequados a cada produto, investindo no desenvolvimento de processos operacionais <br> 
                visando o pleno atendimento aos clientes.
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'img/escavadeira3.webp' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="general-construction.html">Escavadeiras</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="general-construction.html"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'images/services/style4/service-2.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="services-style1.html">Modified Roofing</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="services-style1.html"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'images/services/style4/service-3.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="services-style1.html">Metal Roofing</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="services-style1.html"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'images/services/style4/service-4.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="services-style1.html">Vegetative Roofing</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="services-style1.html"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'images/services/style4/service-5.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="services-style1.html">Inspections</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="services-style1.html"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'images/services/style4/service-6.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="services-style1.html">Siding & Gutters</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="services-style1.html"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>