{% load static %}
<div class="rs-choose choose-style3">
    <div class="row no-gutters">
        <div class="col-lg-6">
            <div class="choose-widget-content bg10">
                <div class="sec-title mb-50 md-mb-35">
                    <span class="sub-text sub-text3 white-color">
                        <img src="{% static '/img/icone.png' %}" alt="Images">
                        Porque escolher-nos
                    </span>
                    <h2 class="title white-color">
                        As pessoas nos escolhem <br> 
                        pela capacidade de resolver soluções
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                        <div class="rs-addon-services">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static '/images/choose/style1/icons/1.png' %}" alt="">
                                </div>
                                <div class="services-text">
                                    <div class="services-title">				    		
                                        <h3 class="title"><a href="general-construction.html">Rápido e fácil</a></h3>
                                    </div>    	    						    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                        <div class="rs-addon-services">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'images/choose/style1/icons/2.png' %}" alt="">
                                </div>
                                <div class="services-text">
                                    <div class="services-title">				    		
                                        <h3 class="title"><a href="general-construction.html">Sem compromisso</a></h3>
                                    </div>    	    						    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 xs-mb-30">
                        <div class="rs-addon-services">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static '/images/choose/style1/icons/3.png' %}" alt="">
                                </div>
                                <div class="services-text">
                                    <div class="services-title">				    		
                                        <h3 class="title"><a href="general-construction.html">Eficiente e Preciso</a></h3>
                                    </div>    	    						    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="rs-addon-services">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static '/images/choose/style1/icons/4.png' %}" alt="">
                                </div>
                                <div class="services-text">
                                    <div class="services-title">				    		
                                        <h3 class="title"><a href="general-construction.html">Rápido e Preciso</a></h3>
                                    </div>    	    						    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="video-item">
                <div class="rs-videos red-videos">
                    <div class="animate-border">
                        <a class="popup-border popup-videos" href="https://youtu.be/LTcLMkeAmMc">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>    
                </div>
            </div>
            <div class="contact-bd">
                <div class="prelements-heading">
                    <div class="title-inner">        		      		
                        <h2 class="title">Any emergency help call us</h2>				
                    </div>
                    <div class="description">
                        <p>(325) 512-9895</p>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>