{% load static %}

<div class="rs-choose choose-style3 border-top border-bottom border-secondary border-4 ">
    <div class="row no-gutters m-5">
        <div class="col-lg-6">
            <div class="choose-widget-content">
                <div class="sec-title mb-50 md-mb-35">
                    <span class="sub-text sub-text3 black-color">
                        <img src="{% static '/img/icone.png' %}" alt="Images">
                        Porque escolher-nos
                    </span>
                    <h2 class="title black-color">
                        As pessoas nos escolhem <br> 
                        pela capacidade de resolver soluções
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6 mb-30 mr-5"  style="border-color: black; border-radius: 6px; border-style: solid;">
                        <div class="rs-addon-services">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static '/images/choose/style1/icons/1.png' %}" alt="">
                                </div>
                                <div class="services-text">
                                    <div class="services-title">				    		
                                        <h3 class="title"><a href="general-construction.html">Rápido e fácil</a></h3>
                                    </div>    	    						    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 mb-30"  style="border-color: black; border-radius: 6px; border-style: solid;">
                        <div class="rs-addon-services">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static 'images/choose/style1/icons/2.png' %}" alt="">
                                </div>
                                <div class="services-text">
                                    <div class="services-title">				    		
                                        <h3 class="title"><a href="general-construction.html">Sem compromisso</a></h3>
                                    </div>    	    						    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 mb-30 mr-5"  style="border-color: black; border-radius: 6px; border-style: solid;">
                        <div class="rs-addon-services">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static '/images/choose/style1/icons/3.png' %}" alt="">
                                </div>
                                <div class="services-text">
                                    <div class="services-title">				    		
                                        <h3 class="title"><a href="general-construction.html">Eficiente e Preciso</a></h3>
                                    </div>    	    						    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6 mb-30"  style="border-color: black; border-radius: 6px; border-style: solid; padding-left: 30px;">
                        <div class="rs-addon-services">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="{% static '/images/choose/style1/icons/4.png' %}" alt="">
                                </div>
                                <div class="services-text">
                                    <div class="services-title">				    		
                                        <h3 class="title"><a href="general-construction.html">Rápido e Preciso</a></h3>
                                    </div>    	    						    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="video-item">
                <div class="rs-videos red-videos">
                    <div class="animate-border">
                        <a class="popup-border popup-videos" href="https://youtu.be/llfxk0aYeUU">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>    
                </div>
            </div>
            <div class="contact-bd">
                <div class="prelements-heading">
                    <div class="title-inner">        		      		
                        <h2 class="title">Qualquer ajuda de ligue para nós :</h2>				
                    </div>
                    <div class="description">
                        <p>(11) 2591-0102 - 
                            (11) 2591-0137</p>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>