{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
	{% include 'dashboard/template/head.html' %}
</head>
	<body class="py-5 md:py-0">
		{% include 'dashboard/template/mobile_top.html' %}
		{% include 'dashboard/template/top_bar.html' %}
			<div class="page-content">	
						<div class="main-container ">
							{% include 'dashboard/Users/template/side_menu.html' %}
							{% include 'dashboard/Users/template/user.html' %}
							{% block content %}
							{% endblock %}
					</div>
			</div>
	</body>
	{% include 'dashboard/template/extras.html' %}
</html>