# Django specific
*.log
*.pot
*.pyc
*.py[co]
__pycache__/
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environments
.env
venv/
*.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Python packages
*.egg
*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt
