{% load static %}
<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
        <h2 class="font-medium text-base mr-auto">
            Composição Final
        </h2>
    </div>
    <div class="p-5" id="bordered-table">
        <div class="preview">
            <div class="overflow-x-auto">
                <div class="p-5" id="balloon-block-editor">
                    <div class="preview" style="display: block;">
                        <div class="editor ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred"
                            lang="en" dir="ltr" role="textbox" aria-label="Rich Text Editor, main"
                            contenteditable="true">
                            <p><br data-cke-filler="true"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>