{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'contato/template/head.html' %}

</head>
	<body>
		<div class="page-wrapper">

			{% include 'contato/template/topbar.html' %}

			<div class="page-content">		

				<div class="main-container">
					
					{% include 'contato/template/contact_part.html' %}
					{% block content %}
					{% endblock %}

				</div>
				{% include 'contato/template/footer.html' %}
			</div>
		</div>
	</body>


		{% include 'contato/template/search.html' %}
		{% include 'contato/template/extras.html' %}
</html>