{% load static %}
<div class="rs-services services-style4 bg10 pt-120 pb-120 md-pt-80 md-pb-80 border-top border-bottom border-secondary border-4 ">
    <div class="container">
        <div class="sec-title text-center mb-60 md-mb-40">
            <span class="sub-text sub-text3 white-color">
                <img src="{% static 'img/icone.png' %}" alt="Images">
                O que nós fazemos
            </span>
            <h2 class="title white-color">
                A Tquiper opera com equipamentos próprios e adequados a cada produto, investindo no desenvolvimento de processos operacionais <br> 
                visando o pleno atendimento aos clientes.
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'img/escavadeira3.webp' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="general-construction.html">Equipamentos</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="general-construction.html"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'img/prestador-de-servicos-autonomo.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="services-style1.html"></a> Tipos de Serviços</h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="services-style1.html"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'img/VALE.jpeg' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="{% url 'galeria' %}"></a>VALE - Minas Gerais</h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="{% url 'galeria' %}"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'img/6a3cc624-a150-499d-ba83-8836fffa161a.jpg' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="{% url 'galeria' %}">Castro Alves - BA</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="{% url 'galeria' %}"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-40">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'img/200784-entenda-a-seguranca-do-trabalho-na-construcao-civil.jpg' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="{% url 'time' %}">Equipe TQUIPER</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="{% url 'time' %}"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="services-image">
                        <img src="{% static 'img/Blank 7 Grids Collage.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <div class="services-inner">
                            <h3 class="title"><a href="{% url 'galeria' %}">Galeria de Fotos</a></h3>
                            <div class="services-btn">
                                <a class="red-btn-text" href="{% url 'galeria' %}"><i class="fa flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>