{% load static %}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Serviços
            </h1>
            <span class="sub-text"><br> 
            </span>
            <ul class="breadcrumbs-area">
               <li title="Go to konstruk">
                   <a class="active" href="{% url 'Site' %}">Home</a>
               </li>
              <li>Serviços</li>
           </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- Services Start -->
<div class="rs-services services-style13 gray-bg6 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-20">
                <div class="services-item">
                    <div class="serial-number">	01</div>
                    <div class="services-icon">
                        <img src="{% static 'images/services/style1/1.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <h4 class="title"><a href="general-construction.html">General construction</a></h4>
                        <p class="services-txt"> Quisque placerat vitae odio lacus uten scelerisque. 
                        Fusce luctus odio ac nibh luctus consulting placerat.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-20">
                <div class="services-item">
                    <div class="serial-number">	02</div>
                    <div class="services-icon">
                        <img src="{% static 'images/services/style1/2.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <h4 class="title"><a href="general-construction.html">Property maintenance</a></h4>
                        <p class="services-txt"> Quisque placerat vitae odio lacus uten scelerisque. 
                        Fusce luctus odio ac nibh luctus consulting placerat.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-20">
                <div class="services-item">
                    <div class="serial-number">	03</div>
                    <div class="services-icon">
                        <img src="{% static 'images/services/style1/3.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <h4 class="title"><a href="general-construction.html">Project managment</a></h4>
                        <p class="services-txt"> Quisque placerat vitae odio lacus uten scelerisque. 
                        Fusce luctus odio ac nibh luctus consulting placerat.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 md-mb-20">
                <div class="services-item">
                    <div class="serial-number">	04</div>
                    <div class="services-icon">
                        <img src="{% static 'images/services/style1/4.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <h4 class="title"><a href="general-construction.html">Virtual design & build</a></h4>
                        <p class="services-txt"> Quisque placerat vitae odio lacus uten scelerisque. 
                        Fusce luctus odio ac nibh luctus consulting placerat.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 sm-mb-20">
                <div class="services-item">
                    <div class="serial-number">	05</div>
                    <div class="services-icon">
                        <img src="{% static 'images/services/style1/5.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <h4 class="title"><a href="general-construction.html">Preconstruction</a></h4>
                        <p class="services-txt"> Quisque placerat vitae odio lacus uten scelerisque. 
                        Fusce luctus odio ac nibh luctus consulting placerat.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="services-item">
                    <div class="serial-number">	06</div>
                    <div class="services-icon">
                        <img src="{% static 'images/services/style1/6.png' %}" alt="Images">
                    </div>
                    <div class="services-text">
                        <h4 class="title"><a href="general-construction.html">Design build</a></h4>
                        <p class="services-txt"> Quisque placerat vitae odio lacus uten scelerisque. 
                        Fusce luctus odio ac nibh luctus consulting placerat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<!-- Process Section Start -->
<div class="rs-process process-style3 bg23 pt-150 pb-115 md-pt-115 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sec-title mb-70 md-mb-15">
                    <h2 class="title title4 ser-style1">
                        Nosso processo de trabalho - Como nós trabalhamos com os clientes<br> 
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 text-right md-left md-mb-40">
                <div class="btn-part mt-20">
                    <a class="readon more touch" href="{% url 'contatos' %}">Entre em Contato</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container custom3">
        <div class="process-bg">
            <div class="row">
                <div class="col-xl-3 col-md-6 md-40">
                    <div class="process-item process-gap">
                        <div class="number-image">
                            <img src="{% static 'images/services/style3/ser-icon4.png' %}" alt="Images">
                        </div>
                        <div class="number-text">
                            <div class="number-area">
                                <span class="number-prefix">01</span>
                            </div>
                            <h3 class="number-title">Planejamento</h3>
                            <p class="number-txt">Planejamos todos os jeitos e maneiras de desenvolver o seu projeto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 md-40">
                    <div class="process-item process-gap">
                        <div class="number-image">
                            <img src="{% static 'images/services/style3/ser-icon6.png' %}" alt="Images">
                        </div>
                        <div class="number-text">
                            <div class="number-area">
                                <span class="number-prefix">02</span>
                            </div>
                            <h3 class="number-title">Design</h3>
                            <p class="number-txt">Elaboramos e mostramos o projeto e como será executado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 sm-mb-40">
                    <div class="process-item">
                        <div class="number-image">
                            <img src="{% static 'images/services/style3/ser-icon5.png' %}" alt="Images">
                        </div>
                        <div class="number-text">
                            <div class="number-area">
                                <span class="number-prefix">03</span>
                            </div>
                            <h3 class="number-title">Desenvolvimento</h3>
                            <p class="number-txt">Começamos a atuar até o encerramento.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="process-item">
                        <div class="number-image">
                            <img src="{% static 'images/services/style3/ser-icon3.png' %}" alt="Images">
                        </div>
                        <div class="number-text">
                            <div class="number-area">
                                <span class="number-prefix">04</span>
                            </div>
                            <h3 class="number-title">Encerramento</h3>
                            <p class="number-txt">Ao encerrar conferimos se o plnajamento foi cumprido.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Process Section End -->

<!-- Contact Section Start -->
<div class="rs-contact contact-style1 contact-modify2 pt-150 pb-120 md-pb-80">
       <div class="container">
        <div class="sec-title text-center mb-50">
            <h4 class="title title4 ser-style2">
                Deixe-nos te ajudar com o seu projeto <br> 
                assim acelerando seu <span>avanço.</span>
            </h4>
        </div>
           <!-- <div class="row y-middle">
               <div class="col-lg-6 md-mb-50">
                   <div class="project-img">
                       <img src="{% static 'img/asdasd.jpeg' %}" alt="Contact">
                   </div>
               </div> -->
               <!-- <div class="col-lg-6">
                <div class="contact-section">
                    <div class="contact-wrap">
                        <div id="form-messages"></div>
                        <form id="contact-form" method="post" action="mailer.php">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Nome" required="">
                                    </div> 
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                    </div>   
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Numero" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="website" name="website" placeholder="Seu site" required="">
                                    </div>
                                    <div class="col-lg-12 mb-30">
                                        <textarea class="from-control" id="message" name="message" placeholder="Sua mensagem" required=""></textarea>
                                    </div>
                                </div>
                                <div class="btn-part">                                            
                                    <div class="form-group mb-0">
                                        <input class="readon more submit" type="submit" value="Enviar">
                                    </div>
                                </div> 
                            </fieldset>
                        </form> 
                    </div>
                </div>
               </div> -->
               <div class="btn-part" style="display: flex; justify-content: center;">                                            
                <div class="form-group mb-0" >
                    <input class="readon more submit" type="submit" value="Entre em contato" onclick="location.href='{% url 'contatos' %}'">
                </div>
            </div> 
           </div>
       </div>
</div>
<!-- Contact Section End -->

</div> 