{% load static %}
<div class="rs-cta bg12 pt-116 pb-116 md-pt-76 md-pb-76">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-8">
                <div class="sec-title md-text-center md-mb-30">
                    <span class="sub-text sub-text3 white-color">
                        <img src="{% static '/images/shape-2.png' %}" alt="Images">
                        Let,s Talk
                    </span>
                    <h2 class="title white-color">
                        Ready for a roof consultation?
                    </h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="btn-part text-right md-text-center">
                    <a class="readon more requset-services" href="contact.html">Solicite um serviço</a>
                </div>
            </div>
        </div>
    </div>
</div>