		
		{% load static %}
  
        <div class="offwrap"></div>

			<!--Preloader start here-->
			<div id="pre-load">
				<div id="loader" class="loader">
					<div class="loader-container">
						<div class="loader-icon"><img src="{% static 'img/tquiper-30-anos.png' %}" alt="Konstruk - Construction & Building Html Template "></div>
					</div>
				</div>              
			</div>
			<!--Preloader area end here-->
				

				<!--Full width header Start-->
				<div class="full-width-header">
					<!--Header Start-->
					<header id="rs-header" class="rs-header header-style2">
						<!-- Toolbar Area Start -->
						<div class="toolbar-area topbar-style1 topber-modify1 hidden-md">
							<div class="container">
								<div class="row rs-vertical-middle">
								<div class="col-lg-7">
										<div class="toolbar-contact">
											<ul class="rs-contact-info">                   
												<li>
													<i class="fi fi-rr-envelope-plus"></i>                  
													<a href="mailto:comercial@tquiper.com.br">comercial@tquiper.com.br</a>               
												</li>
												<li>
													<i class="fi-rr-map-marker-home"></i>                                      
													Av. Presidente Wilson 1009 CJ 757 - Mooca
												</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-5">
										<div class="toolbar-sl-share">
											<ul class="clearfix">
												<li class="opening"> <em><i class="fi fi-rr-time-add"></i> Segunda a Sexta 07:00 as 17:00</em> </li>
												<!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
												<li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Toolbar Area End -->
						
						<!-- Menu Start -->
						<div class="menu-area menu-sticky" >
							<div class="container">
								<div class="row-table">
									<div class="col-cell header-logo">                                  
										<div class="logo-area">
											<a href="{% url 'Site' %}">
												<img class="normal-logo" src="{% static 'img/logo-tquiper-branco.png' %}" alt="logo">  
												<img class="sticky-logo" src="{% static 'img/icone.png' %}" alt="logo">
											</a>
										</div>
									</div>
									<div class="col-cell">
										<div class="rs-menu-area">
											<div class="main-menu">
												<nav class="rs-menu hidden-md">
													<ul class="nav-menu">
														<li>
															<a href="{% url 'Site' %}" style="color: white;">Home</a>  
														</li>
														<li>
															<a href="{% url 'sobrenos' %}" style="color: white;">QUEM SOMOS </a>
														</li>
														<li>
															<a href="{% url 'servico' %}" style="color: white;">SERVIÇOS</a>
														</li>
														<li class="menu-item-has-children">
															<a href="#" style="color: white;">Time & Galeria</a>
															<ul class="sub-menu">
																<li><a href="{% url 'time'  %}">Time</a></li>
																<li><a href="{% url 'galeria' %}">Galeria</a></li>
															</ul>
														</li>
														<li>
															<a  href="{% url 'contatos' %}" style="color: white;">CONTATOS</a>
														</li>
													</ul> <!-- //.nav-menu -->
												</nav>
											</div> <!-- //.main-menu -->
										</div>
									</div>
									<div class="col-cell">
										<div class="expand-btn-inner">
											<ul>
												<li class="rs-contact-phone">
													<i class="fi fi-rr-phone-call"></i>                                
													<div class="phone-number" style="color: white;">
														<span>Contato</span>
														<a href="https://api.whatsapp.com/send/?phone=5511977429215&text=Olá%21+Quero+fazer+um+orçamento+ou+proposta&type=phone_number&app_absent=0" style="color:white"> (+55) (11)97742-9215</a>
													</div>                   
												</li>
												<li class="humburger">
													<a id="nav-expander" class="nav-expander bar" href="#">
														<div class="bar">
															<span class="dot1"></span>
															<span class="dot2"></span>
															<span class="dot3"></span>
															<span class="dot4"></span>
															<span class="dot5"></span>
															<span class="dot6"></span>
															<span class="dot7"></span>
															<span class="dot8"></span>
															<span class="dot9"></span>
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Menu End -->

						<!-- Canvas Mobile Menu start -->
						<nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
							<div class="close-btn">
								<a id="nav-close2" class="nav-close">
									<div class="line">
										<span class="line1"></span>
										<span class="line2"></span>
									</div>
								</a>
							</div>
							<ul class="nav-menu">
								<li>
									<a href="{% url 'Site' %}">Home</a>
								</li>
								<li>
									<a href="{% url 'sobrenos' %}">QUEM SOMOS</a>
								</li>
								<li>
									<a href="{% url 'servico' %}">Serviços</a>
								</li>

								<li class="menu-item-has-children">
									<a href="#">Time & Galeria</a>
									<ul class="sub-menu">
										<li><a href="{% url 'time'  %}">Time</a></li>
										<li><a href="{% url 'galeria' %}">Galeria</a></li>
									</ul>
								</li>
								<li>
									<a href="{% url 'contatos' %}">Contato</a>
								</li>
							</ul> <!-- //.nav-menu -->
							<!-- //.nav-menu -->
						
							<!-- //.nav-menu -->
							<div class="canvas-contact">
								<div class="address-area">
									<div class="address-list">
										<div class="info-icon">
											<i class="fi fi-rr-map-marker-home"></i>
										</div>
										<div class="info-content">
											<h4 class="title">Contato</h4>
											<em>Av. Presidente Wilson 1009 , SP-Mooca</em>
										</div>
									</div>
									<div class="address-list">
										<div class="info-icon">
											<i class="fi fi-rr-envelope-plus"></i>
										</div>
										<div class="info-content" style="color: red;">
											<h4 class="title">Email</h4>
											<em><a href="mailto:comercial@tquiper.com.br">comercial@tquiper.com.br</a></em>
										</div>
									</div>
									<div class="address-list">
										<div class="info-icon" >
											<i class="fi fi-rr-phone-call"></i>
										</div>
										<div class="info-content">
											<h4 class="title">Ligue</h4>
											<em>+55(11)97742-9215</em>
										</div>
									</div>
								</div>
							</div>
						</nav>
						<!-- Canvas Menu end -->                           
					</header>
            </div>