{% load static %}
			<!-- My Account Section Start -->
			<div class="rs-my-account pt-120 pb-120 md-pt-80 md-pb-80">
			    <div class="container">
			        <div class="row" style="display: flex; justify-content: center;">
			           <div class="col-lg-6 md-mb-50">
			           		<form method="POST" action="">
			           			{% csrf_token %}
					                <h2 class="title pb-30 md-pb-15">Login</h2>
					               		<div class="rs-login">
					                   		<div class="form-group mb-30">
						                       	<label>Username<span>*</span></label>
						                       	<input name="username" class="form-control-mod" type="text" required=""> 
						                       	<label>Senha<span>*</span></label>
						                       	<input type="password" name="password" class="form-control-mod" type="text" required="">
					                   		</div>
					                   	<a href="{% url 'login' %}">
					                   		<button class="add-btn" type="submit">Log In</button>
				                   		</a>
			               </div>
			           		</form>
			           </div>
			        </div>
			    </div>
			</div>
			<!-- My Account Section Start -->