{% load static %}
			<!-- Breadcrumbs Start -->
			<div class="rs-breadcrumbs img5">
			    <div class="container">
			        <div class="breadcrumbs-inner">
			            <h1 class="page-title">
			               	My Account
			            </h1>
			            <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br> 
			            modeserunt mollit anim id est 20 years experience.</span>
			            <ul class="breadcrumbs-area">
                           <li title="Go to konstruk">
                               <a class="active" href="index.html">Home</a>
                           </li>
                          <li>My Account</li>
                       </ul>
			        </div>
			    </div>
			</div>
			<!-- Breadcrumbs End -->

			<!-- My Account Section Start -->
			<div class="rs-my-account pt-120 pb-120 md-pt-80 md-pb-80">
			    <div class="container">
			        <div class="row">
			           <div class="col-lg-6 md-mb-50">
			                <h2 class="title pb-30 md-pb-15">Login</h2>
			               <div class="rs-login">
			                   <div class="form-group mb-30">
			                       <label>Username or email address<span>*</span></label>
			                       <input id="fname" name="fname" class="form-control-mod" type="text" required=""> 
			                       <label>Password <span>*</span></label>
			                       <input id="tname" name="text" class="form-control-mod" type="text" required="">
			                   </div>
			                   <button class="add-btn" type="submit">Log In</button>
			                    <label>
			                        <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever">
			                        <span>Remember me</span>
			                    </label>
			                   <div class="last-password pt-30">
			                        <a href="#">Lost your password?</a>
			                    </div>
			               </div>
			           </div>
			           <div class="col-lg-6">
			                <h2 class="title pb-30 md-pb-15">Register</h2>
			                <div class="rs-login">
			                    <div class="form-group">
			                        <label>Email address<span>*</span></label>
			                        <input id="gname" name="type" class="form-control-mod" type="text" required=""> 
			                    </div>
			                    <p>A password will be sent to your email address.</p>
			                    <p>
			                        Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy.</a>
			                    </p>
			                    <button class="add-btn" type="submit">Register</button>
			                </div>
			           </div> 
			        </div>
			    </div>
			</div>
			<!-- My Account Section Start -->