{% load static %}
<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
        <h2 class="font-medium text-base mr-auto">
            B.4 - Veículos de Apoio
        </h2>
    </div>
    <div class="p-5" id="bordered-table">
        <div class="preview">
            <div class="overflow-x-auto">
                <table class="table table-bordered" id="TableB4">
                    <thead>
                        <tr>
                            <th class="whitespace-nowrap">Descrição (Ida e Volta)</th>
                            <th class="whitespace-nowrap">Valor Unit.</th>
                            <th class="whitespace-nowrap">Quant.</th>
                            <th class="whitespace-nowrap">SubTotal (R$ Mês)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Transporte do(s) Equipamento(s)</td>
                            <td><input id="B4.1.1" type="text" class="form-control" placeholder="Valor Unit.">
                            </td>
                            <td><input id="B4.2.1" type="text" class="form-control" placeholder="Quant.">
                            </td>
                            <td><input id="B4.3.1" type="text" class="form-control" placeholder="SubTotal" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Vaiculos de Apoio</td>
                            <td><input id="B4.1.2" type="text" class="form-control" placeholder="Valor Unit.">
                            </td>
                            <td><input id="B4.2.2" type="text" class="form-control" placeholder="Quant.">
                            </td>
                            <td><input id="B4.3.2" type="text" class="form-control" placeholder="SubTotal" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Outros</td>
                            <td><input id="B4.1.3" type="text" class="form-control" placeholder="Valor Unit.">
                            </td>
                            <td><input id="B4.2.3" type="text" class="form-control" placeholder="Quant.">
                            </td>
                            <td><input id="B4.3.3" type="text" class="form-control" placeholder="SubTotal" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>SubTotal B.4: </td>
                            <td><input id="sum.B4" type="text" class="form-control" placeholder="R$ SubTotal" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total B (B.1 + B.1.A + B.2 + B.3 + B.4): </td>
                            <td><input id="totalB" type="text" class="form-control" placeholder="Total B" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>