{% load static %}
<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
        <h2 class="font-medium text-base mr-auto">
            B.1 - Materiais
        </h2>
    </div>
    <div class="p-5" id="bordered-table">
        <div class="preview">
            <div class="overflow-x-auto">
                <table class="table table-bordered" id="TableB1">
                    <thead>
                        <tr>
                            <th class="whitespace-nowrap">Descrição</th>
                            <th class="whitespace-nowrap">Valor Unit.</th>
                            <th class="whitespace-nowrap">Quant.</th>
                            <th class="whitespace-nowrap">SubTotal Função</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Materiais de Consumo</td>
                            <td><input id="B1.1.1" type="text" class="form-control" placeholder="R$">
                            </td>
                            <td><input id="B1.2.1" type="text" class="form-control" placeholder="Quantidade">
                            </td>
                            <td><input id="B1.3.1" type="text" class="form-control" placeholder="R$ SubTotal">
                            </td>
                        </tr>
                        <tr>
                            <td>Materiais de Aplicacão / Limpeza / Pá</td>
                            <td><input id="B1.1.2" type="text" class="form-control" placeholder="R$">
                            </td>
                            <td><input id="B1.2.2" type="text" class="form-control" placeholder="Quantidade">
                            </td>
                            <td><input id="B1.3.2" type="text" class="form-control" placeholder="R$ SubTotal">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>SubTotal B.1: </td>
                            <td><input id="sum.B1" type="text" class="form-control" placeholder="R$ SubTotal">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>