{% load static %}
<div class="intro-y box mt-5">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
        <h2 class="font-medium text-base mr-auto">
            B.2 - EPI's
        </h2>
    </div>
    <div class="p-5" id="bordered-table">
        <div class="preview">
            <div class="overflow-x-auto">
                <table class="table table-bordered" id="TableB2">
                    <thead>
                        <tr>
                            <th class="whitespace-nowrap">Descrição</th>
                            <th class="whitespace-nowrap">Preço Unit.</th>
                            <th class="whitespace-nowrap">Fator Util.</th>
                            <th class="whitespace-nowrap">Valor Unit.(R$)</th>
                            <th class="whitespace-nowrap">Quant.</th>
                            <th class="whitespace-nowrap">Subtotal(R$ Mês).</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bota Couro</td>
                            <td><input id="B2.1.1" type="text" class="form-control" placeholder="Preço Unit."></td>
                            <td><input id="B2.2.1" type="text" class="form-control" placeholder="Fator Util."></td>
                            <td><input id="B2.3.1" type="text" class="form-control" placeholder="Valor Unit.(R$)"
                                    disabled></td>
                            <td><input id="B2.4.1" type="text" class="form-control" placeholder="Quant."></td>
                            <td><input id="B2.5.1" type="text" class="form-control" placeholder="SubTotal (R$ Mês)"
                                    disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Capa de Chuva</td>
                            <td><input id="B2.1.2" type="text" class="form-control" placeholder="Preço Unit."></td>
                            <td><input id="B2.2.2" type="text" class="form-control" placeholder="Fator Util."></td>
                            <td><input id="B2.3.2" type="text" class="form-control" placeholder="Valor Unit.(R$)"
                                    disabled></td>
                            <td><input id="B2.4.2" type="text" class="form-control" placeholder="Quant."></td>
                            <td><input id="B2.5.2" type="text" class="form-control" placeholder="SubTotal (R$ Mês)"
                                    disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Capacete</td>
                            <td><input id="B2.1.3" type="text" class="form-control" placeholder="Preço Unit."></td>
                            <td><input id="B2.2.3" type="text" class="form-control" placeholder="Fator Util."></td>
                            <td><input id="B2.3.3" type="text" class="form-control" placeholder="Valor Unit.(R$)"
                                    disabled></td>
                            <td><input id="B2.4.3" type="text" class="form-control" placeholder="Quant."></td>
                            <td><input id="B2.5.3" type="text" class="form-control" placeholder="SubTotal (R$ Mês)"
                                    disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Luva Vaqueta Cano Médio</td>
                            <td><input id="B2.1.4" type="text" class="form-control" placeholder="Preço Unit."></td>
                            <td><input id="B2.2.4" type="text" class="form-control" placeholder="Fator Util."></td>
                            <td><input id="B2.3.4" type="text" class="form-control" placeholder="Valor Unit.(R$)"
                                    disabled></td>
                            <td><input id="B2.4.4" type="text" class="form-control" placeholder="Quant."></td>
                            <td><input id="B2.5.4" type="text" class="form-control" placeholder="SubTotal (R$ Mês)"
                                    disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Óculos Segurança Contra Impacto</td>
                            <td><input id="B2.1.5" type="text" class="form-control" placeholder="Preço Unit."></td>
                            <td><input id="B2.2.5" type="text" class="form-control" placeholder="Fator Util."></td>
                            <td><input id="B2.3.5" type="text" class="form-control" placeholder="Valor Unit.(R$)"
                                    disabled></td>
                            <td><input id="B2.4.5" type="text" class="form-control" placeholder="Quant."></td>
                            <td><input id="B2.5.5" type="text" class="form-control" placeholder="SubTotal (R$ Mês)"
                                    disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Protetor Auricular</td>
                            <td><input id="B2.1.6" type="text" class="form-control" placeholder="Preço Unit."></td>
                            <td><input id="B2.2.6" type="text" class="form-control" placeholder="Fator Util."></td>
                            <td><input id="B2.3.6" type="text" class="form-control" placeholder="Valor Unit.(R$)"
                                    disabled></td>
                            <td><input id="B2.4.6" type="text" class="form-control" placeholder="Quant."></td>
                            <td><input id="B2.5.6" type="text" class="form-control" placeholder="SubTotal (R$ Mês)"
                                    disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>Uniforme (Calça + Camisa)</td>
                            <td><input id="B2.1.7" type="text" class="form-control" placeholder="Preço Unit."></td>
                            <td><input id="B2.2.7" type="text" class="form-control" placeholder="Fator Util."></td>
                            <td><input id="B2.3.7" type="text" class="form-control" placeholder="Valor Unit.(R$)"
                                    disabled></td>
                            <td><input id="B2.4.7" type="text" class="form-control" placeholder="Quant."></td>
                            <td><input id="B2.5.7" type="text" class="form-control" placeholder="SubTotal (R$ Mês)"
                                    disabled>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>SubTotal B.2: </td>
                            <td><input id="sum.B2" type="text" class="form-control" placeholder="R$ SubTotal" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>