{% load static %}

</div>
<!--Full width header End-->

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img3">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                   Gallery
            </h1>
            <span class="sub-text">Fotos de projetos<br> 
            </span>
            <ul class="breadcrumbs-area">
               <li title="Go to konstruk">
                   <a class="active" href="{% url 'Site' %}">Home</a>
               </li>
              <li>Galeira de Fotos</li>
           </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- Gallery Start -->
<div class="rs-gallery gallery-style1 pt-120 pb-10 md-pt-80 md-pb-80">
       <div class="container">
           <div class="row">
               <div class="col-lg-4 col-md-6 mb-30">
                   <div class="gallery-item">
                       <div class="gallery-icon">
                           <a class="image-popup" href="{% static 'img-gale/1.jpg' %}"><img src="{% static 'img-gale/1.jpg' %}" alt=""></a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 mb-30">
                   <div class="gallery-item">
                       <div class="gallery-icon">
                           <a class="image-popup" href="{% static 'img-gale/2.jpg' %}"><img src="{% static 'img-gale/2.jpg' %}" alt=""></a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 mb-30">
                   <div class="gallery-item">
                       <div class="gallery-icon">
                           <a class="image-popup" href="{% static 'img-gale/3.jpg' %}"><img src="{% static 'img-gale/3.jpg' %}" alt=""></a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 md-mb-30">
                   <div class="gallery-item">
                       <div class="gallery-icon">
                           <a class="image-popup" href="{% static 'img-gale/4.jpg' %}"><img src="{% static 'img-gale/4.jpg' %}" alt=""></a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 sm-mb-30">
                   <div class="gallery-item">
                       <div class="gallery-icon">
                           <a class="image-popup" href="{% static 'img-gale/5.jpg' %}"><img src="{% static 'img-gale/5.jpg' %}" alt=""></a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/7.jpg' %}"><img src="{% static 'img-gale/7.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            
           </div>
           
       </div>
</div>
<!-- Gallery End -->
<div class="rs-gallery gallery-style1 pt-10 pb-10 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/8.jpg' %}"><img src="{% static 'img-gale/8.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/9.jpg' %}"><img src="{% static 'img-gale/9.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/10.jpg' %}"><img src="{% static 'img-gale/10.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/11.jpg' %}"><img src="{% static 'img-gale/11.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/12.jpg' %}"><img src="{% static 'img-gale/12.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
             <div class="gallery-item">
                 <div class="gallery-icon">
                     <a class="image-popup" href="{% static 'img-gale/13.jpg' %}"><img src="{% static 'img-gale/13.jpg' %}" alt=""></a>
                 </div>
             </div>
         </div>
         
        </div>
        
    </div>
</div>
<div class="rs-gallery gallery-style1 pt-10 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/14 - Copia.jpg' %}"><img src="{% static 'img-gale/14.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/15.jpg' %}"><img src="{% static 'img-gale/15 - Copia.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/16.jpg' %}"><img src="{% static 'img-gale/16 - Copia.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/11.jpg' %}"><img src="{% static 'img-gale/11.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="gallery-item">
                    <div class="gallery-icon">
                        <a class="image-popup" href="{% static 'img-gale/12.jpg' %}"><img src="{% static 'img-gale/12.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
             <div class="gallery-item">
                 <div class="gallery-icon">
                     <a class="image-popup" href="{% static 'img-gale/13.jpg' %}"><img src="{% static 'img-gale/13.jpg' %}" alt=""></a>
                 </div>
             </div>
         </div>
         
        </div>
        
    </div>
</div>
</div> 
