{% load static %}
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                   Sobre nós
            </h1>
            <span class="sub-text">A Tquiper atua no mercado desde 1993, desenvolvendo soluções em operações logísticas nos terminais ferroviário e rodoviário<br> 
                , executando a mais ampla gama de serviços operacionais e administrativos.</span>
            <ul class="breadcrumbs-area">
               <li title="Go to konstruk">
                   <a class="active" href="{% url 'Site' %}">Home</a>
               </li>
              <li>About</li>
           </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- About Start -->

<div class="rs-about about-style1 bg1 pt-120 pb-120 md-pt-80 md-pb-75">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="images-part p-5">
                    <img src="{% static 'img/edc9b547-715d-4815-b2e0-64581211d557.png' %}" alt="About">
                </div>
            </div>


            <div class="col-lg-6 pl-50 md-pl-15">
                <div class="sec-title">
                    <span class="sub-text">
                        <img src="{% static 'img/icone.png' %}"  alt="Images">
                        Quem nós somos
                    </span>
                    <h2 class="title pb-20">
                       Soluções de construção focadas no futuro
                    </h2>
                    <p class="desc pb-37">
                        Leverage agile frameworks to provide a robust synopsis for high 
                        level overviews. Iterative approaches to corporate strategy data 
                        foster to collaborative thinking to empowerment.
                    </p>
                    <div class="row y-middle">

                        <div class="col-lg-8 col-md-8 pt-5 pb-5">

                            <ul class="check-lists">

                                <li class="list-item">

                                    <span class="icon-list-icon">

                                        <i class="fa fa-check-circle"></i>	

                                    </span>
                                    <span class="list-text">Orçamentos</span>
                                </li>
                                <li class="list-item">
                                    <span class="icon-list-icon">
                                        <i class="fa fa-check-circle"></i>						
                                    </span>
                                    <span class="list-text">Adaptação de Peças</span>
                                </li>
                                <li class="list-item">
                                    <span class="icon-list-icon">
                                        <i class="fa fa-check-circle"></i>						
                                    </span>
                                    <span class="list-text">Controle via remoto</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Skillbar Choose Start -->
<div class="rs-skillbar skillbar-style1 bg22" style="padding-top: 100px; padding-bottom: 100px;">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-60 md-pr-15 mt-40 md-mb-40">
                <div class="sec-title mb-45">
                    <h2 class="title title4 pb-30">
                        Nossas habilidades de gestão e trabalho
                    </h2>
                    <p class="desc desc8">
                        Fertilizantes, enxofre, areia, escória, madeira para celulose, ferro gusa, etc.<br> 
                    </p>
                </div>
                <!-- Skillbar Section Start -->
                <!-- <div class="cl-skill-bar"> -->
                    <!-- Start Skill Bar -->
                    <!-- <span class="skillbar-title">Planning</span>
                    <div class="skillbar" data-percent="85">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent">85%</span> 
                    </div>  -->
                    <!-- Start Skill Bar -->
                    <!-- <span class="skillbar-title">Design</span>
                    <div class="skillbar" data-percent="95">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent">95%</span> 
                    </div>  -->
                    <!-- Start Skill Bar -->
                    <!-- <span class="skillbar-title">Development</span>
                    <div class="skillbar" data-percent="75">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent">75%</span> 
                    </div>  -->
                    <!-- Start Skill Bar -->
                    <!-- <span class="skillbar-title">Delivery</span>
                    <div class="skillbar" data-percent="90">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent">90%</span> 
                    </div>
                </div> -->
                <!-- Skillbar Section End -->
            </div>
            <div class="col-lg-6 video-img">
                <div class="rs-videos">
                    <div class="animate-border">
                        <a class="popup-border popup-videos " href="https://youtu.be/llfxk0aYeUU">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skillbar Choose End -->

<!-- Contact Section Start -->
<div class="rs-contact contact-style1 bg3">
       <div class="row">
           <div class="col-lg-4 offset-2 con-left-6">
               <div class="contact-section">
                   <div class="contact-wrap">
                       <div class="sec-title mb-45">
                           <span class="sub-text">
                               <img src="assets/images/shape-1.png" alt="Images">
                               Lets talk
                           </span>
                           <h2 class="title">
                               Have an upcoming project?
                           </h2>
                       </div>
                       <div id="form-messages"></div>
                       <form id="contact-form" method="post" action="mailer.php">
                           <fieldset>
                               <div class="row">
                                   <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                       <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                   </div> 
                                   <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                       <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                   </div>   
                                   <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                       <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                   </div>
                                   <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                       <input class="from-control" type="text" id="website" name="website" placeholder="Your Website" required="">
                                   </div>
                                   <div class="col-lg-12 mb-30">
                                       <textarea class="from-control" id="message" name="message" placeholder="Your Message Here" required=""></textarea>
                                   </div>
                               </div>
                               <div class="btn-part">                                            
                                   <div class="form-group mb-0">
                                       <input class="readon more submit" type="submit" value="Submit Now">
                                   </div>
                               </div> 
                           </fieldset>
                       </form> 
                   </div>
               </div>
           </div>
           <div class="col-lg-2 pr-50 md-pr-15 con-right-6 md-mt-50">
               <div class="contact-box-item">
                <div class="contact-box mb-20">
                    <div class="contact-icon">
                        <img src="assets/images/contact/style1/icons/1.png" alt="images">
                    </div>
                    <div class="content-text">
                        <h4 class="title"><a href="#">USA office</a></h4>
                        <p class="services-txt">55 Gerad Lane,<br> NY 11201, USA</p>
                    </div>
                </div>
                <div class="contact-box mb-20">
                    <div class="contact-icon">
                        <img src="assets/images/contact/style1/icons/2.png" alt="images">
                    </div>
                    <div class="content-text">
                        <h4 class="title"><a href="#">Email us</a></h4>
                        <p class="services-txt">
                            <a href="mailto:test@gamil.com">test@gamil.com</a><br>
                            <a href="mailto:test2@gamil.com">test2@gamil.com</a>
                        </p>
                    </div>
                </div>
                <div class="contact-box">
                    <div class="contact-icon">
                        <img src="assets/images/contact/style1/icons/3.png" alt="images">
                    </div>
                    <div class="content-text">
                        <h4 class="title"><a href="#">Call us</a></h4>
                        <p class="services-txt">
                            <a href="tel:(+088)589-8745">(+088) 589-8745</a><br>
                            <a href="tel:(+088)222-9999">(+088) 222-9999</a>
                        </p>
                    </div>
                </div>
               </div>
           </div>
           <div class="col-lg-4 contact-right-img"></div>
       </div>
</div>
<!-- Contact Section End -->

<!-- Call To Action Choose Start -->
<div class="rs-cta bg4 pt-120 pb-115 md-pt-80 md-pb-75">
    <div class="container">
        <div class="call-action">
            <div class="sec-title text-center">
                <span class="sub-text yellow-color">
                    Work With Us !
                </span>
                <h2 class="title white-color pb-20">
                    Have any upcoming project
                </h2>
                <p class="desc desc3 pb-35">
                    Leverage agile frameworks to provide a robust synopsis for high level overviews.<br> 
                    Iterative approaches to corporate strategy foster collaborative thinking
                </p>
                <div class="btn-part">
                    <a class="readon more contact" href="contact.html">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Choose End -->

</div> 