{% load static %}

			<!-- Breadcrumbs Start -->
			<div class="rs-breadcrumbs img6">
			    <div class="container">
			        <div class="breadcrumbs-inner">
			            <h1 class="page-title">
			               	Team - Single
			            </h1>
			            <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br> 
			            modeserunt mollit anim id est 20 years experience.</span>
			            <ul class="breadcrumbs-area">
                           <li title="Go to konstruk">
                               <a class="active" href="index.html">Home</a>
                           </li>
                          <li>Team - Single</li>
                       </ul>
			        </div>
			    </div>
			</div>
			<!-- Breadcrumbs End -->

			<!-- Team Start -->
			<div class="rs-team-single pt-120 pb-120 bg24 md-pt-80 md-pb-80">
			    <div class="container">
			        <div class="btm-info-team">
			            <div class="row align-items-center">
			                <div class="col-lg-5 md-mb-50">
			                    <div class="images-part">
			                        <img src="{% static 'img/55963568_2245228119127548_5467657272349949952_n.jpg' %}" alt="images">
			                    </div>
			                </div>
			                <div class="col-lg-7">
			                    <div class="con-info">
			                        <span class="designation-info">Boss</span>
			                        <h2 class="title">Antônio Carlos de Almeida</h2>
			                        <div class="short-desc">
			                          	Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive                            
			                        </div>
			                        <div class="ps-informations">
			                            <!-- <ul class="social-info">
			                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			                            </ul>-->
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<!-- Team End -->

			<!-- Skillbar Choose Start -->
			<!-- <div class="rs-skillbar skillbar-style1 skillbar-modify5 bg22 pt-120 pb-120 md-pt-80 md-pb-80">
                <div class="container">
	                <div class="row y-middle">
	                	<div class="col-lg-6 pr-60 md-pr-15 mt-40 md-mb-50">
		                	<div class="sec-title mb-45 md-mb-25">
		                		<h2 class="title title4 pb-30">
		                			Personal skills
		                		</h2>
		                		<p class="desc desc8">
									Podcasting operational change management inside of workflows to<br> 
									establish a framework. Taking seamless key performance.
								</p>
		                	</div> -->
		        	        <!-- Skillbar Section Start -->
		                    <!-- <div class="cl-skill-bar">  -->
		                        <!-- Start Skill Bar -->
		                        <!-- <span class="skillbar-title">Planning</span>
		                        <div class="skillbar" data-percent="85">
		                            <p class="skillbar-bar"></p>
		                            <span class="skill-bar-percent">85%</span> 
		                        </div>  -->
		                        <!-- Start Skill Bar -->
		                        <!-- <span class="skillbar-title">Design</span>
		                        <div class="skillbar" data-percent="95">
		                            <p class="skillbar-bar"></p>
		                            <span class="skill-bar-percent">95%</span> 
		                        </div>  -->
		                        <!-- Start Skill Bar -->
		                        <!-- <span class="skillbar-title">Development</span>
		                        <div class="skillbar" data-percent="75">
		                            <p class="skillbar-bar"></p>
		                            <span class="skill-bar-percent">75%</span> 
		                        </div>  -->
		                        <!-- Start Skill Bar -->
		                        <!-- <span class="skillbar-title">Delivery</span>
		                        <div class="skillbar" data-percent="90">
		                            <p class="skillbar-bar"></p>
		                            <span class="skill-bar-percent">90%</span> 
		                        </div>
		                    </div> -->
		        	        <!-- Skillbar Section End -->
	                	<!-- </div>
						<div class="col-lg-6">
							<div class="skillbar-img">
								<img src="{% static '' %}images/skillbar/tm-1.jpg" alt="Images">
							</div>
						</div>
	                </div>
                </div>
            </div> -->
			<!-- Skillbar Choose End -->

			<!-- Careers Start -->
			<div class="rs-careers pt-120 pb-120 md-pt-80 md-pb-60">
				<div class="container">
			        <div class="row y-middle">
			        	<div class="col-lg-6 md-mb-50">
			        		<div class="single-img">
			        			<img src="{% static 'img/55963568_2245228119127548_5467657272349949952_n.jpg' %}" alt="Img">
			        		</div>
			        	</div>
			        	<div class="col-lg-6">
		                	<div class="sec-title mt-30 pl-30 md-pl-15">
								<h2 class="title title4 ser-style5 pb-30">Careers Histories</h2>
								<p class="margin-0 pb-25">
									Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that Taking seamless key performance indicators.
								</p>
								<ul class="check-lists3">
									<li>Ad nauseum souvlaki ignitus carborundum.</li>
									<li>Est igpay atinlay marquee selectus.</li>
									<li>Provisio incongruous feline nolo.</li>
									<li>Epsum factorial non deposit quid.</li>
									<li>Pluribus unum defacto lingo.</li>
								</ul>
							</div>
			        	</div>
			        </div>
				</div>
			</div>
			<!-- Careers End -->

			<!-- Call To Action Choose Start -->
			<div class="rs-cta bg4 pt-120 pb-120 md-pt-80 md-pb-80">
				<div class="container">
					<div class="call-action">
						<div class="sec-title text-center">
							<span class="sub-text yellow-color">
								Careers
							</span>
							<h2 class="title white-color pb-20">
								Want to be part of our team?
							</h2>
							<p class="desc desc3 pb-35">
								Leverage agile frameworks to provide a robust synopsis for high level overviews.<br> 
								Iterative approaches to corporate strategy foster collaborative thinking
							</p>
							<div class="btn-part">
								<a class="readon more contact" href="contact.html">Get Started</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Call To Action Choose End -->
		</div> 
		<!-- Main content End -->